.container {
  display: grid;
  height: 960px;
  width: 960px;
  border: 5px solid black;
}

.box {
  height: 1fr;
  width: 1fr;
  border: 5px solid black;
  text-align: center;
}

.highlight {
  background-color: rgb(179, 128, 226);
}